# Ignore everything in the profile_pictures directory
python-scripts/nr_instagram/posts/test.json
python-scripts/nr_source/descriptions.json
mon_fichier.json
art_posts.json
posts.json
/web/profile_pictures/
**/img/post_img
