# Ignore everything in the profile_pictures directory
python-scripts/nr_instagram/posts/test.json
python-scripts/nr_source/descriptions.json
mon_fichier.json
art_posts.json
posts.json
/web/profile_pictures/
**/img/post_img
web/public/test/
python-scripts/nr_instagram/posts/__pycache__/
python-scripts/nr_instagram/profiles/__pycache__/
python-scripts/nr_source/__pycache__/
python-scripts/nr_facebook/posts/__pycache__/
python-scripts/nr_facebook/profiles/__pycache__/
python-scripts/nr_facebook/__pycache__/
python-scripts/nr_facebook/__pycache__/
python-scripts/nr_facebook/__pycache__/
python-scripts/nr_facebook/descriptions.json