<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^home/?$ index.php?p=home/home
    # Profile redirections
    RewriteRule ^profile/([a-zA-Z0-9\.]*)$ index.php?p=profile/publications&username=$1
    RewriteRule ^profile/([a-zA-Z0-9\.]*)/about$ index.php?p=profile/about&username=$1
    RewriteRule ^profile/([a-zA-Z0-9\.]*)/friends$ index.php?p=profile/friends&username=$1
    RewriteRule ^profile/([a-zA-Z0-9\.]*)/photos$ index.php?p=profile/photos&username=$1
    # Group redirections
    RewriteRule ^groups$ index.php?p=group/groupExplorer
    RewriteRule ^groups/([a-zA-Z0-9]*)$ index.php?p=group/discussions&groupname=$1
    RewriteRule ^groups/([a-zA-Z0-9]*)/announcements$ index.php?p=group/announcements&groupname=$1
    RewriteRule ^groups/([a-zA-Z0-9]*)/members$ index.php?p=group/members&groupname=$1
    RewriteRule ^groups/([a-zA-Z0-9]*)/media$ index.php?p=group/media&groupname=$1
    RewriteRule ^explore/?$ index.php?p=explore/explore
</IfModule>