<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Instagram
			{% endblock %}
		</title>
		{% block head %}
		{% endblock %}
	</head>

	<body>
		<div class="grid-container">
			{% include 'sidebar.twig' with {'url': URL} %} 

			<main class="feed"> {% block content %}{% endblock %}
				</main>

				<aside class="suggestions">
					<h2>Suggestions</h2>
					{% block suggestions %}
					{% endblock %}
				</aside>
		</div>
	</body>

</html>
