<div id="post-modal-comments" class="comments-modal">
    <div class="comments-modal-content">
    <div class="comments-modal-container">
        <div class="comments-modal-header">
            <h2>Comments</h2>
        </div>

        <div class="comments-modal-body">
            <div class="comments-title">
                <div class="title">
                    <div class="custom-modal-profile-img">
                        <a href=""><img src="" class="profile-img" alt="Image"></a>
                    </div>
                    <div class="description-content">
                    <a class="nav-link" href="">
                        <span class="username"></span>
                    </a>
                        <span class="description"></span>
                        <div>
                        <span class="timestamp"></span>
                        </div>
                    </div>
                </div>
                <div class="comments">
                </div>
            </div>
             
               
                <div class="add-comment">
                    <div class="emoji">
                        <ion-icon name="happy-outline"></ion-icon>
                    </div>
                    <input type="text" placeholder="Add a comment...">
                    <button>Publish</button>
				</div>
        </div>
    </div>
    </div>
</div>