{% extends 'base.twig' %}

{% block title %}Instagram
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{URL}}css/explore.css">
{% endblock %}

{% block content %}
	<div class="main-content">
			<!-- Post gallery-->
        <div class="explore-container">
            <div class="explorer-header">
                <span class="expl-top"> <strong> Uncustomized </strong></span>	
            </div>
			<div class="explore-posts">
				{% for post in posts %}
					<div class="post" onclick="openModalPost(`{{post.post_id}}`)"><img src="{{POST_IMG_PATH}}{{post.post_picture_path}}" alt="Post">
					</div>
				{% endfor %}
			</div>

		    {% include 'post-modal.twig'%}
		
		</div>
	</div>
{% endblock %}
