{% extends 'base.twig' %}

{% block title %}Instagram
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{URL}}css/explore.css">
	<script src="{{ URL }}js/dynamic_explorer.js"></script>
{% endblock %}

{% block content %}
	<div class="main-content">
			<!-- Post gallery-->
        <div class="explore-container">
            <div class="explorer-header">
                <span class="expl-top"> <strong> Uncustomized </strong></span>	
            </div>
			<div class="explore-posts">
			
			</div>

		    {% include 'post-modal.twig'%}
		
		</div>
	</div>
{% endblock %}
