<div id="post-modal-likes" class="likes-modal">
    <div class="likes-modal-content">
        <div class="likes-modal-header">
            <h2>Likes</h2>
            <span class="close">&times;</span>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="search-container" id="likes-search-container">
                        <input type="text" class="form-control search-input" onkeyup="likesSearch()" placeholder="Search...">
                        <i class="fas fa-search search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="likes-modal-body">
        </div>
    </div>
</div>