<div id="post-modal" class="custom-modal">
			<span class="close" onclick="closeModalPost()">&times;</span>
			<div class="custom-modal-content">
				<div class="custom-modal-left">
					<img id="modal-image" src="" alt="Post">
				</div>
				<div class="custom-modal-right">
					<div class="custom-modal-post-header">
						<div class="custom-modal-profile-info">
							<div class="custom-modal-profile-img">
								<img src="" class="profile-img" alt="Image">
							</div>
							<a class="nav-link" href="">
								<span class="username"></span>
							</a>
						</div>
						<div class="options">
							<span>
								<ion-icon name="ellipsis-horizontal"></ion-icon>
							</span>
						</div>
					</div>

					<div class="comments-title">
						<div class="title">
							<div class="custom-modal-profile-img">
								<img src="" class="profile-img" alt="Image">
							</div>
							<div class="description-content">
							<a class="nav-link" href="">
								<span class="username"></span>
							</a>
								<span class="description"></span>
								<div>
								<span class="timestamp"></span>
								</div>
							</div>
						</div>
						<div class="comments">
						</div>
					</div>

					<div class="custom-modal-post-info">
						<div class="custom-modal-actions">
							<span class="heart_icon">
								<ion-icon name="heart-outline"></ion-icon>
							</span>
							<span>
								<ion-icon name="chatbubble-outline"></ion-icon>
							</span>
							<span>
								<ion-icon name="paper-plane-outline"></ion-icon>
							</span>
							<span>
								<ion-icon name="bookmark-outline"></ion-icon>
							</span>
						</div>
						<div class="custom-modal-stats">
							<span class="like-text"><span class="likes"></span> likes</span>
							<span><span class="timestamp"></span></span>
						</div>
					</div>
					<div class="add-comment">
						<div class="emoji">
							<ion-icon name="happy-outline"></ion-icon>
						</div>
						<input type="text" placeholder="Add a comment...">
						<button>Publish</button>
					</div>
				</div>
			</div>
		</div>