<div class="sidebar">
	<div class="logo">
		<a href="{{ url }}" class="navbar-brand">
			<i class="fab fa-instagram"></i>
			<span>Instagram</span>
		</a>
	</div>
	<nav class="nav-links">
		<a href="{{ url }}" class="nav-item">
			<i class="fas fa-home"></i>
			<span>Home</span>
		</a>
		<a href="#" class="nav-item">
			<i class="fas fa-search"></i>
			<span>Search</span>
		</a>
		<a href="#" class="nav-item">
			<i class="fas fa-compass"></i>
			<span>Explore</span>
		</a>
		<a href="#" class="nav-item">
			<i class="fas fa-heart"></i>
			<span>Notifications</span>
		</a>
		<a href="#" class="nav-item">
			<i class="fas fa-user"></i>
			<span>Profile</span>
		</a>
	</nav>
</div>
