<button class="sidebar-toggle" onclick="toggleSidebar()">
	<i class="fas fa-bars"></i>
</button>

<div class="sidebar">
	<div class="sidebar-redirection">
		<div class="logo">
			<a href="{{ url }}" class="navbar-brand">
				<img  class="instagram-logo" src="{{URL}}img/instagram-logo-and-icon-black-and-white-text-glyph-png-1.png" alt="instagram logo">
				<ion-icon name="logo-instagram" class="instagram-icon"></ion-icon>
			</a>
		</div>
		<nav class="nav-links">
			<a href="{{ url }}" class="nav-item">
				<i class="fas fa-home"></i>
				<span>Home</span>
			</a>
			<div class="nav-item search-item" onclick="toggleSearch()">
				<i class="fas fa-search"></i>
				<span>Search</span>
			</div>
			<a href="{{ url }}explore" class="nav-item">
				<i class="fas fa-compass explorer-icon"></i>
				<span>Explore</span>
			</a>
			<a href="" class="nav-item">
				<i class="fas fa-heart"></i>
				<span>Notifications</span>
			</a>
			<a href="" class="nav-item">
				<i class="fas fa-user"></i>
				<span>Profile</span>
			</a>
		</nav>
	</div>
	<div class="search-section">
		<div class="search-header">
			<h2>Search</h2>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="search-container" id="sidebar-search-container">
							<input type="text" class="form-control search-input"
								placeholder="Search..." onkeyup="sidebarSearch();" name="sidebar-search">
							<i class="fas fa-search search-icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="search-results">
		</div>
	</div>
</div>
