<button class="sidebar-toggle" onclick="toggleSidebar()">
	<i class="fas fa-bars"></i>
</button>

<div class="sidebar">
	<div class="sidebar-redirection">
		<div class="logo">
			<a href="{{ url }}" class="navbar-brand">
				<i class="fab fa-instagram"></i>
				<span>Instagram</span>
			</a>
		</div>
		<nav class="nav-links">
			<a href="{{ url }}" class="nav-item">
				<i class="fas fa-home"></i>
				<span>Home</span>
			</a>
			<div class="nav-item search-item" onclick="toggleSearch()">
				<i class="fas fa-search"></i>
				<span>Search</span>
			</div>
			<a href="" class="nav-item">
				<i class="fas fa-compass"></i>
				<span>Explore</span>
			</a>
			<a href="" class="nav-item">
				<i class="fas fa-heart"></i>
				<span>Notifications</span>
			</a>
			<a href="" class="nav-item">
				<i class="fas fa-user"></i>
				<span>Profile</span>
			</a>
		</nav>
	</div>
	<div class="search-section">
		<div class="search-header">
			<h2>Recherche</h2>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12">
						<div class="search-container" id="sidebar-search-container">
							<input type="text" class="form-control search-input""
								placeholder="Search...">
							<i class="fas fa-search search-icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="search-results">
			<div class="profile">
				<div class="profile-img">
					<img src="" alt="User Avatar">
				</div>
				<div class="profile-info">
					<a class="nav-link" href="#">
						<span class="user-name">johndoe</span>
					</a>
					<span class="user-full-name">John Doe</span>
				</div>
				<button class="follow-btn">Follow</button>
			</div>
		</div>
	</div>
</div>
