/* Header section */

.group-top {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(black, gray, white, white);
    margin-bottom: 35px;
}

.group-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 460px;
    margin-bottom: 14px;
}

.group-cover .img-cover {
    width: 1280px;
    height: 100%;
    object-fit: cover;
}

.group-cover-info {
    display: flex;
    width: 1280px;
    padding: 15px;
    background-color: #52a32c;
    color: white;
    border-radius: 0px 0px 6px 6px;
}

.group_detail {
    padding: 0px 18% 15px 18%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.group_detail_left {
    display: flex;
    flex-direction: column;
}

.members-header-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.members-header-picture img {
    width: 40px;
    border-radius: 50%;
    margin-right: -10px;
}

.group_detail_right {    
    display: flex;
    text-align: right;
    align-items: end;
}

.group_detail_right .fas {
    font-size: 15px;
}

.group_detail_right span:first-child {
    background-color: #52a32c;
    color: white;
}

.group_detail_right span {
    background-color: #e4ebe6;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-block;
    align-items: center;
    color: black;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.group_row {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.group_details_image img {
    width: 22vh;
    height: 22vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vh;
}

.group-info {
    display: flex;
    flex-direction: column;
}

.group-name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 7px;
}

.group-members {
    display: flex;
    font-size: 12px;
    color: #a5a5a5;
    font-weight: 600;
}

.group-members ion-icon {
    width: 13px;
    height: 13px;
    color: black;
    margin-right: 2px;
}

.group_row div p {
    font-size: 13px;
}

.group-links-container {
    display: flex;
    flex-direction: row;
    padding: 0px 18% 0 18%;
    justify-content: space-between;
}

.group-links {
    border-top: 1px solid #e4e6eb;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.group-links-items {
    display: flex;
}

.group-link-item {
    display: block;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px 12px 10px;
}

.group-links-items a {
    color: black;
    text-decoration: none;
    display: flex;
}

.group-link-item.active {
    color: #1876f2;
    border-bottom: 3px solid #1876f2;
}

.group-link-item:hover {
    color: #1876f2;
    border-bottom: 3px solid #1876f2;
    background-color: #f1efef;
}

.group-link-more {
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.group-link-more a {
    text-align: center;
    justify-content: center;
    background-color: #e4e6eb;
    color: rgb(71, 71, 71);
    border-radius: 3px;
    padding: 8px 12px 8px 12px;
    margin-left: 10px;
}

/* Container section */

.group_container {
    padding: 0px 18% 20px 18%;
    color: #626262;
}

.group_info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -20px;
}

.info_col {
    flex-basis: 37%;
    position: sticky;
}

.post_col {
    flex-basis: 62%;
}

.group_intro {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: rgb(71, 71, 71);
    font-weight: 400;
}

.group_intro h3 {
    font-weight: 600;
    color: black;
    font-size: large;
}

.intro_text {
    margin: 10px 0;
    font-size: 15px;
}

.intro_text img {
    width: 15px;
    margin-bottom: -3px;
}

.group_intro ul li {
    list-style-type: none;
    font-size: 15px;
    margin: 15px 0 5px 0;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
}

.group_intro ul li ion-icon {
    padding-right: 7px;
}

.group_intro p {
    font-size: 14px;
}

.title_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo_box {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 5px;
    margin-top: 15px;
    overflow: hidden;
}

.photo_box_item {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.photo_box_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
    object-fit: cover;
}

.media-link {
    display: contents;
    text-decoration: none;
}

.media-label {
    display: flex;
    font-size: 17px;
    color: black;
    font-weight: 500;
    background-color: #e4e6eb;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 8px;
    padding: 5px 0px;
}

.post-data-date {
    display: flex;
    align-items: center;
}

.post-data-date ion-icon{
    margin-left: 3px;
}