.group-top {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(black, gray, white, white);
    margin-bottom: 35px;
}

.group-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 460px;
    margin-bottom: 14px;
}

.group-cover .img-cover {
    width: 1280px;
    height: 100%;
    object-fit: cover;
}

.group-cover-info {
    display: flex;
    width: 1280px;
    padding: 15px;
    background-color: #52a32c;
    color: white;
    border-radius: 0px 0px 6px 6px;
}

.group_detail {
    padding: 0px 18% 15px 18%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.group_detail_left {
    display: flex;
    flex-direction: column;
}

.members-header-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.members-header-picture img {
    width: 40px;
    border-radius: 50%;
    margin-right: -10px;
}

.group_detail_right {    
    display: flex;
    text-align: right;
    align-items: end;
}

.group_detail_right .fas {
    font-size: 15px;
}

.group_detail_right span:first-child {
    background-color: #52a32c;
    color: white;
}

.group_detail_right span {
    background-color: #e4ebe6;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-block;
    align-items: center;
    color: black;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.group_row {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.group_details_image img {
    width: 22vh;
    height: 22vh;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1vh;
}

.group-info {
    display: flex;
    flex-direction: column;
}

.group-name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 7px;
}

.group-members {
    display: flex;
    font-size: 12px;
    color: #a5a5a5;
    font-weight: 600;
}

.group-members ion-icon {
    width: 13px;
    height: 13px;
    color: black;
    margin-right: 2px;
}

.group_row div p {
    font-size: 13px;
}

.group-links-container {
    display: flex;
    flex-direction: row;
    padding: 0px 18% 0 18%;
    justify-content: space-between;
}

.group-links {
    border-top: 1px solid #e4e6eb;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.group-links-items {
    display: flex;
}

.group-link-item {
    display: block;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px 12px 10px;
}

.group-links-items a {
    color: black;
    text-decoration: none;
    display: flex;
}

.group-link-item.active {
    color: #1876f2;
    border-bottom: 3px solid #1876f2;
}

.group-link-item:hover {
    color: #1876f2;
    border-bottom: 3px solid #1876f2;
    background-color: #f1efef;
}

.group-link-more {
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.group-link-more a {
    text-align: center;
    justify-content: center;
    background-color: #e4e6eb;
    color: rgb(71, 71, 71);
    border-radius: 3px;
    padding: 8px 12px 8px 12px;
    margin-left: 10px;
}