<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/love/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="../../public/love/img/favicon.ico" type="image/x-icon">
    <title>Facebook</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

    <nav>
        <div class="nav_left">
            <div class="logo-container">
                <img src="../../public/love/img/facebook-logo.png" alt="Logo" class="logo">
            </div>
            <div class="search_box">
                <img src="../../public/love/img/search.png" alt="search">
                <input type="search" placeholder="Rechercher sur Facebook">
            </div>
        </div>
        <div class="navbar-links">
            <a href="" class="navbar-item">
                <i class="fa fa-home"></i>
            </a>
            <a href="" class="navbar-item">
                <i class='fas fa-users'></i>
            </a>
        </div>
        <div class="nav_right">         
            <div class="nav_user_icon online_icon" onclick="settingsMenuToggle()">
                <img src="images/profile-pic.png" alt="profile">
            </div>   
        </div>
        <div class="setting_menu">

            <div id="dark_btn" class="dark_btn_on">
                <span></span>
            </div>

            <div class="settings_menu_inner">
                <div class="user_profile">
                    <img src="images/profile-pic.png" alt="Pro We Are Pro You Now">
                    <div>
                        <p>Kashan Adnan</p>
                        <a href="./user.html">See Your Profile</a>
                    </div>
                </div>
                <hr />
                <div class="user_profile">
                    <img src="images/feedback.png" alt="">
                    <div>
                        <p>Give Feedback</p>
                        <a href="#">Help Us To improve new design</a>
                    </div>
                </div>
                <hr />
                <div class="setting_link">
                    <img src="images/setting.png" class="setting_icon" alt="">
                    <a href="#">Setting & Privacy <img src="images/arrow.png" alt="" width="10px"></a>
                </div>
                <div class="setting_link">
                    <img src="images/help.png" class="setting_icon" alt="">
                    <a href="#">Help & Support <img src="images/arrow.png" alt="" width="10px"></a>
                </div>
                <div class="setting_link">
                    <img src="images/display.png" class="setting_icon" alt="">
                    <a href="#">Dispaly & Accesiblity <img src="images/arrow.png" alt="" width="10px"></a>
                </div>
                <div class="setting_link">
                    <img src="images/logout.png" class="setting_icon" alt="">
                    <a href="#">Logout<img src="images/arrow.png" alt="" width="10px"></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- todo: Left SIdeBar Start -->
        <div class="left_sidebar">
            <div class="important_link">
                <a href="#"><img src="images/news.png" alt="news">Latest News</a>
                <a href="#"><img src="images/friends.png" alt="Friends">Friends</a>
                <a href="#"><img src="images/group.png" alt="Group">Group</a>
                <a href="#"><img src="images/marketplace.png" alt="MarketpLace">MarketpLace</a>
                <a href="#"><img src="images/watch.png" alt="Watch">Watch</a>
                <a href="#">See More</a>
            </div>
            <div class="shortcut_links">
                <p>Your Shortcut</p>
                <a href=""><img src="images/shortcut-1.png">Web Devolopers</a>
                <a href=""><img src="images/shortcut-2.png">Web Design</a>
                <a href=""><img src="images/shortcut-3.png">Graphic Desing</a>
                <a href=""><img src="images/shortcut-4.png">Front End Devloper</a>
            </div>
        </div>

        <div class="main_content">
            <div class="post-container">
                <div class="post-top-row">
                    <div class="user-profile">
                        <img src="images/profile-pic.png" alt="Pro We Are Pro You Now">
                        <div class="post-data">
                            <span class="post-data-name">Kashan Adnan</span>
                            <span class="post-data-date">Sep 9 2022 , 12:50 Am</span>
                        </div>
                    </div>
                    <div class="post-setting">
                        <span><i class="fa fa-ellipsis-h"></i></span>
                        <span class="close">&times;</span>
                    </div>
                </div>
                <p class="post_text">Subscribe <span> @Kashan Adnan </span>Youtube channel to Watch More VIdeos Website
                    Devolopment And UI Design
                    <a href="#">#KashanAdnan</a><a href="#">#YoutubeChannel</a>
                </p>
                <img src="images/feed-image-1.png" alt="Feedback" class="post_img">
                <div class="post-bottom-row">
                        <div class="post-bottom-row-item">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                            <span>J'aime</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                            <span>Commenter</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon name="people-circle-outline"></ion-icon>
                            <span>Envoyer</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                            <span>Partager</span>
                        </div>
                </div>
            </div>

            <div class="post-container">
                <div class="post-top-row">
                    <div class="user-profile">
                        <img src="images/profile-pic.png" alt="Pro We Are Pro You Now">
                        <div class="post-data">
                            <span class="post-data-name">Kashan Adnan</span>
                            <span class="post-data-date">Sep 9 2022 , 12:50 Am</span>
                        </div>
                    </div>
                    <div class="post-setting">
                        <span><i class="fa fa-ellipsis-h"></i></span>
                        <span class="close">&times;</span>
                    </div>
                </div>
                <p class="post_text">Subscribe <span> @Kashan Adnan </span>Youtube channel to Watch More VIdeos Website
                    Devolopment And UI Design
                    <a href="#">#KashanAdnan</a><a href="#">#YoutubeChannel</a>
                </p>
                <img src="images/feed-image-2.png" alt="Feedback" class="post_img">
                <div class="post-bottom-row">
                        <div class="post-bottom-row-item">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                            <span>J'aime</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                            <span>Commenter</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon name="people-circle-outline"></ion-icon>
                            <span>Envoyer</span>
                        </div>
                        <div class="post-bottom-row-item">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                            <span>Partager</span>
                        </div>
                </div>
            </div>
        </div>

        <div class="right-sidebar">
            <div class="sider_bar_title">
                <span>Suggestion</span>
            </div>
            <div class="online_list">
                <div class="online_icon">
                    <img src="images/member-1.png" alt="">
                </div>
                <p>Kashan Adnan</p>
            </div>
            <div class="online_list">
                <div class="online_icon">
                    <img src="images/member-2.png" alt="">
                </div>
                <p>Izhan Farhan</p>
            </div>
            <div class="online_list">
                <div class="online_icon">
                    <img src="images/member-3.png" alt="">
                </div>
                <p>Kamran Sheikh</p>
            </div>

</body>

</html>